/* Color variables */
$primary: #1f496b;
$secondary: #8dc319;
$text: rgba(0,0,0,0.87);

/* Fonts */
$font-family: 'Open Sans', sans-serif;
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 600;
